#ivo-play{
    width: 620px;
    height: 325px;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border: 1px solid #d5d5d5;
    background-color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/op1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#ivo-play *{
    width: 70%;
}
#ivo-play ul{
    list-style:lower-alpha;
    font-size: 14px;
    text-align: left;
}
#ivo-play ul li{
    padding-top: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}
#ivo-play ul li:hover{
    background-color: #d5d5d5;
}
#ivo-play-final{
    width: 620px;
    height: 325px;
    padding: 10px;
    font-size: 18px;
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border: 1px solid #d5d5d5;
    background-color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/op6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#ivo-play-final ul{
    list-style:lower-alpha;
    font-size: 14px;
    text-align: left;
}
#ivo-play-final ul li{
    cursor: pointer;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}
#ivo-play-final ul li:hover{
    background-color: #d5d5d5;
}
.box-ivo{
    width: 100%;
    font-size: 12px;
    text-align: center;
}